{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению категории{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению категорий</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить категорию</button>
        </form>
    </div>
{% endblock %}
