{% extends 'main/layout.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ cats }}</h1>
            <ul>
                {% for el in category_el %}

                    <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.author }}</p>
                    <p>{{ el.category }}</p>
                    <p>{{ el.date }}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать полностью</a>
                    </div>
                {% endfor %}
            </ul>
    </div>
{% endblock %}