{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.category}}</p>
        <p>{{ article.author}}</p>
        <p>{{ article.full_text}}</p>
        <p>{{ article.date}}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Редактировать</a>
        <a href="{% url 'news_home' %}"><li> Назад </li></a>

    </div>
{% endblock %}