{% extends 'main/layout.html' %}

{% block title %}Статьи на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Статьи на сайте</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.author }}</p>
                    <a href="{% url 'category' el.category%}">{{ el.category }}</a>
                    <p>{{ el.date }}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать полностью</a>
                </div>
            {% endfor %}
        {% else %}
        <p>У вас нет записей! <br> Переходите на наш <a href="https://www.instagram.com/svitoyt/">Instagram #svitoyt</a></p>
        {% endif %}
    </div>
{% endblock %}