{% extends 'main/layout.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Удаление статьи</h1>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Удалить статью</button>
        </form>
    </div>
{% endblock %}
