{% extends 'main/layout.html' %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Тут могла бы быть Ваша реклама!</p>
        <p>Переходите на наш <a href="https://www.instagram.com/svitoyt/">Instagram #svitoyt</a></p>
    </div>
{% endblock %}