{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/pic3.png' %}" alt="Лого">
        <span class="logo">Django Blog</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-heart"></i> Главная страница</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fas fa-toilet-paper"></i> Статьи на сайте</li></a>
            <a href="{% url 'create' %}"><li><button class="btn-info"><i class="fas fa-plus-circle"></i> Добавить новую статью</button></li></a>
            <a href="{% url 'add_category' %}"><li><button class="btn-secondary"><i class="fas fa-plus-circle"></i> Добавить новую категорию</button></li></a>
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>