body {
    background: #2c2c2;
}

aside {
    float: left;
    background: #181818;
    width:20%;
    min-width: 150px;
    padding: 3%;
    height: auto;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 180px;
    float: left;
    margin-top: -30px;
}

aside .logo {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
    margin-top: -5px;
}

aside h3 {
    margin-left: 12px;
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none;
    margin-left: -20px;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.2);
}

main .features {
    float: left;
    color: #181818;
    margin-top: 100px;
    text-align: center;
    width: 75%
}
main .features h1 {font-size: 50px}
main .features p {max-width: 1400px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}